@import "./scss/common.scss";

:root {
  --vh: 1vh;
}

body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  font-size: 14px;
  font-weight: 400;
  color: var(--palette-fg);
  background-color: var(--palette-bg-secondary);
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

/* Style for all buttons */
button {
  outline: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

#app {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
